/*font-family: 'Philosopher', sans-serif;*/

/*font-family: 'Philosopher', sans-serif;*/
/* Portada*/
body{
    background-color:#1e9fb6;
    margin: 0;
}
.holder{
  max-width: 960px;
  margin: 0 auto;
  background-color:#012e36;
}

  .holder0{
    max-width: 960px;
    margin: 0 auto;
    background-color:#7e631b;
  }
  .holder1{
    max-width: 960px;
    margin: 0 auto;
    background-color:white;
  }