<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
<ul>
    <li><a href="/">Portada</a></li>
    <li><a href="/inicio">Inicio</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/acercade">Acerca de</a></li>
    <li><a href="/contacto">Contacto</a></li>
</ul>

</nav>
    {{{body}}}
  </body>
</html>
